header img {
  height: 50px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body{
background:linear-gradient(135deg, #212E5A,#4F74F9);
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

main {
    display: flex;
}


section{
   background-color: #212E5A;
  border-radius: 15px;
  margin: 20px;
  padding: 15px;
   
}


h1, h2, h3, p {
    margin: 20px;
    color: white;
    font-family: Inter, sans-serif;
}   

.liveStream{
 background-color: #212E5A;
  border-radius: 15px;
  margin: 20px;
  padding: 15px;
  width: 650px;
  height: 450px;
}

.liveStreamTop {
  display: flex;
  align-items: center;
}

.liveStreamBottom {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.liveIndicator {
  width: 20px;
  height: 20px;
  background-color: rgb(19, 217, 42);
  border-radius: 50%;
}


.right {
  width: 70%;
}

.right section {
  background-color: #212E5A;
  border-radius: 15px;
  margin: 20px;
  padding: 15px;
}